<div class="class">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Our Classes</p>
            <h2>Yoga Class Schedule</h2>
        </div>
        <div class="row class-container d-flex">
            <div class="col-lg-3 col-md-6 col-sm-12 class-item wow fadeInUp" data-wow-delay="0.0s">
                <div class="class-wrap d-flex flex-column">
                    <div class="class-img">
                        <img src="img/class-1.jpg" alt="Image">
                    </div>
                    <div class="class-text flex-grow-1">
                        <!-- <div class="class-teacher">
                            <img src="img/teacher-4.png" alt="Image">
                            <h3>Lilly Fry</h3>
                        </div> -->
                        <h2>Kids Yoga</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Mon, Thu</p>
                            <p><i class="far fa-clock"></i>18:00 - 19:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 class-item wow fadeInUp" data-wow-delay="0.2s">
                <div class="class-wrap d-flex flex-column">
                    <div class="class-img">
                        <img src="img/class-2.jpg" alt="Image">
                    </div>
                    <div class="class-text flex-grow-1">
                        <h2>General Yoga (Morning)</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Sat</p>
                            <p><i class="far fa-clock"></i>07:00 - 08:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 class-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="class-wrap d-flex flex-column">
                    <div class="class-img">
                        <img src="img/class-3.jpg" alt="Image">
                    </div>
                    <div class="class-text flex-grow-1">
                        <h2>General Yoga (Evening)</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Mon</p>
                            <p><i class="far fa-clock"></i>19:00 - 20:00</p>
                        </div>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Fri</p>
                            <p><i class="far fa-clock"></i>18:00 - 19:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 class-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="class-wrap d-flex flex-column">
                    <div class="class-img">
                        <img src="img/class-4.jpg" alt="Image">
                    </div>
                    <div class="class-text flex-grow-1">
                        <h2>Women's Yoga</h2>
                        <div class="class-meta">
                            <p><i class="far fa-calendar-alt"></i>Tue, Thu</p>
                            <p><i class="far fa-clock"></i>10:00 - 11:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
