<div class="service">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>What we offer</p>
            <h2>Pathmashalaa Offerings</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout"></i>
                    </div>
                    <h3>Tailored Classes for All Ages</h3>
                    <p>
                        Apart from regular yogasana classes, Pathmashala provides tailored classes for different age groups and abilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-1"></i>
                    </div>
                    <h3>Multi-level Classes</h3>
                    <p>
                        Classes are categorized into introductory, beginners, intermediate, and advanced levels, available in packages.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-2"></i>
                    </div>
                    <h3>Complete Yoga Packages</h3>
                    <p>
                        Packages include Asana practice (stances), Pranayama (breathing), and Dhyana (meditation) to ensure holistic benefits.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-3"></i>
                    </div>
                    <h3>Specialized Workshops</h3>
                    <p>
                        We organize theme-based workshops to help participants gain specialized knowledge in different aspects of Yoga.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-workout-4"></i>
                    </div>
                    <h3>Trained Yoga Instructors</h3>
                    <p>
                        Classes are led by trained Instructors, offering various styles including Hatha, Iyengar, Ashtanga, SKY, and Vinyasa.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-yoga-pose"></i>
                    </div>
                    <h3>Props and Aids for All Levels</h3>
                    <p>
                        Our yogashala is equipped with props and aids to help students of all levels maximize their Yoga practice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
